.topper
{   border-style: solid;
    box-sizing: border-box;
    
    border-color: blueviolet;
    border-width: 3px;
    height: 100px;
    background-color: blue;
    opacity:60%;
    
}
.formBox{
    
   position: relative;
   fill-opacity: 100%;

}