button.animatedLine1
{
box-sizing:border-box;
border-style: solid;
border-color: blue;
width: 100px;
height: 50px;
border-radius: 5px;
background-color: white;
display: inline-block;
cursor:pointer;
text-align: center;
color:blue;
overflow: hidden;

}


button.button2
{border-color: red;
color:red;}
button.button3
{border-color: yellow;
color:yellow;}
button.button4
{border-color: orange;
color:orange;}
button.button5
{border-color: green;
color:green;} 
button:hover
{
    background-color: rgb(1, 17, 156);
    color:white;
    transition:all .5s;
  transform: translateY(0px);
}
button.button2:hover
{
    background-color: rgb(156, 1, 47);
    color:white;
  transform: translateY(0px);
}
button.button3:hover
{
    background-color: rgb(153, 156, 1);
    color:white;
  transform: translateY(0px);
}
button.button4:hover
{
    background-color: rgb(156, 76, 1);
    color:white;
  transform: translateY(0px);
}
button.button5:hover
{
    background-color: rgb(13, 112, 0);
    color:white;
  transform: translateY(0px);
}
.border {
  width: 50px;
  height: 1px;
  background: red;
  position: relative;
  animation: mymove .25s infinite;
  animation-direction:alternate;
  
  
}

@keyframes mymove {
  from {left: -40px;}
  to {left:80px;}
  
}
button.animatedLine2
{
    box-sizing:border-box;
border-style: solid;
border-color: blue;

}