@media screen and (max-width:700px){
   /* body{
        background-image: url("copertaM2.jpg");
        background-size: 50em;
    }*/
    
    h1.title{
        margin: 1em auto;
        font: bold 24px Arial;
    }

    h2.subtitle{
        margin:0.5em auto;
        font: bold 16px Arial;

    }
}