img{
    float: left;
    margin-left: 1em;
    margin-right: 2em;
    padding: 1em;
    display: block;
    border-radius: 50%;
    width: 5em;
}

div.rating{
    display: flex;
    flex-direction: row;
    margin-top: none;
}
.checked{
    color: orange;
}

div.account{
    float: left;
}

button.Confirm{
    cursor: pointer;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid rgb(20, 20, 20);
    box-shadow: 0 4px #999;
    transition-duration: 0.4s;
    text-align: center;
}