<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../style/buttons.css">



    </head>

<body>

    <button class="animatedLine1 line">Primary<div></div></button> &nbsp;&nbsp;&nbsp;
    <button class="animatedLine1 button2">Primary<div></div></button> &nbsp;&nbsp;&nbsp;
    <button class="animatedLine1 button3">Primary<div></div></button> &nbsp;&nbsp;&nbsp;
    <button class="animatedLine1 button4">Primary<div></div></button> &nbsp;&nbsp;&nbsp;
    <button class="animatedLine1 button5">Primary<div></div></button> &nbsp;&nbsp;&nbsp;
    <button class="animatedLine2">Secondary</button>
    
    
</body>

    </html>