<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="Configuration.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Config Page</title>
</head>

<body>
    <div class="navbar">
        <a class="#" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="#" href="#"><i class="fa fa-newspaper-o"></i> Reviews</a>
        <a class="#" href="#"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
        <a class="#" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a class="#" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <a class="active" href="signUp.html"><i class="fa fa-user-plus" ></i> Sign Up</a>
    </div>


    <div class="Add-Book">
        <h1>Add book</h1>
        <textarea id="About" name="Mybook" rows="4" cols="50"></textarea>
        <div class="textbox">
            Book title
            <i class="fa fa-book" aria-hidden="true"></i>
            <input type="text" placeholder="Book title" name="" value="">
        </div>

        <div class="textbox">
            Author
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Author" name="" value="">
        </div>

        <div class="textbox">
            PublushingHouse
            <i class="fa fa-home" aria-hidden="true"></i>
            <input type="text" placeholder="PublushingHouse" name="" value="">
        </div>
        <input class= "btn" type="button" name="" value="Submit">
    </div>


    <div class="Add-Publushing-House">
        <h1>Add publishing house</h1>
        <div class="textbox">
            PublushingHouse
            <i class="fa fa-home" aria-hidden="true"></i>
            <input type="text" placeholder="PublushingHouse" name="" value="">
        </div>
        <div class="textbox">
            Starting Year
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <input type="number" placeholder="Starting-Year" name="" value="">
        </div>
        <input class= "btn" type="button" name="" value="Submit">
    </div>

    <div class= "Add-Author">
        <h1>Add author</h1>
        <div class="textbox">
            Name
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Author's name" name="" value="">
        </div>
        <input class= "btn" type="button" name="" value="Submit">
    </div>

    <div class="Delete-Book">
        <h1>Delete book</h1>
        <div class="textbox">
            Name
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Author's name" name="" value="">
        </div>
        <div class="textbox">
            Book title
            <i class="fa fa-book" aria-hidden="true"></i>
            <input type="text" placeholder="Book title" name="" value="">
        </div>
        <input class= "btn" type="button" name="" value="Submit">
    </div>

    <div class="Delete-Review">
        <h1>Delete review</h1>
        <div class="textbox">
            Username
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Username" name="" value="">
        </div>
        <div class="textbox">
            Title text
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <input type="text" placeholder="Title-text" name="" value="">
        </div>
        <input class= "btn" type="button" name="" value="Submit">
    </div>


</body>