<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, user!</title>
    <link rel="stylesheet" type="text/css" href="../style/navbar.css">
    <link rel="stylesheet" type="text/css" href="../style/navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/reviews.css">
    <link rel="stylesheet" type="text/css" href="../style/reviews700.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="#" href="reviews.html"><i class="fa fa-newspaper-o"></i> Reviews</a>
            <a class="#" href="#"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
            <a class="#" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a class="#" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
            <a class="#" href="signUp.html"><i class="fa fa-user-plus" ></i> Sign Up</a>
        </div>
    </header>

    <h1>Welcome back, user! </h1>
    <main>
        <h3>Here's what's new on <a href="reviews.html">Reviews</a></h3>
        <div class="asideTemplate">
            <div class="articlePreview">
                <a href="#">
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <h5>review by Username</h5>
                </a>
            </div>
        </div>

    </main>
</body>
</html>