<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="../style/navbar.css">
    <link rel="stylesheet" type="text/css" href="../style/navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/reviews.css">
    <link rel="stylesheet" type="text/css" href="../style/reviews700.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a class="#" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="active" href="reviews.html"><i class="fa fa-newspaper-o"></i> Reviews</a>
            <a class="#" href="#"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
            <a class="#" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a class="#" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
            <a class="#" href="signUp.html"><i class="fa fa-user-plus" ></i> Sign Up</a>
        </div>
    </header>

    <main>

        <aside>
            <div class="asideTemplate">
            
                <label id="title">Most Popular</label>
            
                <div class="articlePreview">
                    <header><h3><a href="#">Title</a></h3></header>
                    <p>some little text max 250 characters</p>
                    <div>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <div class="articlePreview">
                    <header><h3><a href="#">Title to fill the void</a></h3></header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        miaunel si balanel intr-un copacel
                    </p>
                    <div>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <div class="articlePreview">
                    <header><h3><a href="#">Title</a></h3></header>
                    <p>some little text max 250 characters</p>
                    <div>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </aside>

        <div class="articleContainer">
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png" >
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png" >
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png" >
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div><div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png" >
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png">
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png">
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png">
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>
            <div class="articlePreview">
                <img alt="book image" src="../images/Books-icon.png">
                <header>
                    <h2><a href="#">Titlu</a></h2>
                    <h4>by Name of the author</h4>
                </header>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.
                </p>
                <footer>Rating
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <h4>reviewed by Username</h4>
                </footer>

            </div>

        </div>
    </main>

</body>
</html>