<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="../style/navbar.css">
    <link rel="stylesheet" type="text/css" href="../style/navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/reviews.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a class="#" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="active" href="reviews.html"><i class="fa fa-newspaper-o"></i> Reviews</a>
            <a class="#" href="#"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
            <a class="#" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a class="#" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
            <a class="#" href="signUp.html"><i class="fa fa-user-plus" ></i> Sign Up</a>
        </div>
    </header>

    <main>
        <div class="articleContainer">
            <span class="articlePreview">
                <img>

                <h3>Titlu mai lung ca sa ocup</h3>
                <h4>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit.Culpa, accusamus quo officiis harum 
                    suscipit, accusantium obcaecati corrupti repellat aspernatur 
                    laudantium, illo aperiam repellendus nostrum provident rem vitae quasi odio quibusdam.</h4>
                </span>
            <div class="articlePreview"><h1>2</h1>
            </div>
            <div class="articlePreview"><h1>3</h1>
            </div>
            <div class="articlePreview"><h1>4</h1>
            </div>
            <div class="articlePreview"><h1>5</h1>
            </div>
            <div class="articlePreview"><h1>6</h1>
            </div>
            <div class="articlePreview"><h1>7</h1>
            </div>
            <div class="articlePreview"><h1>8</h1>
            </div>

        </div>
    </main>
</body>
</html>