<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, user!</title>
    <link rel="stylesheet" type="text/css" href="../../public/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/reviews.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/reviews400.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/home_user.css">

</head>
<body>
    <header>
        <div class="navbar">
            <a class="active" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="#" href="reviews"><i class="fa fa-newspaper-o"></i> Reviews</a>
            <a class="#" href="freshOffTheShelves.html"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
            <a class="#" href="LogIn.html"><i class="fa fa-fw fa-user"></i> Login</a>
            <a class="#" href="signUp"><i class="fa fa-user-plus" ></i> Sign Up</a>
        </div>
    </header>

    <h1>Welcome back, user! </h1>
    <main>
        <h3>Here's what's new on <a href="reviews.html">Reviews</a></h3>
        <div class="articleContainer">
            <div class="articlePreview">
                <a href="#">
                <img src="../images/Books-icon.png" alt="Harry Potter and the deadly hallows" >
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Porro officiis alias, vero vel explicabo possimus voluptatibus 
                    reprehenderit suscipit earum exercitationem nemo mollitia. Optio 
                    cupiditate cumque quia amet nihil, tempora ipsum.
                </p>
                <h5>review by Username</h5>
                </a>
            </div>

            <div class="articlePreview">
                <a href="#">
                <img src="../images/Books-icon.png" alt="Harry Potter and the deadly hallows" >
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Incidunt obcaecati atque minus ab, 
                    soluta nam maxime dolorem mollitia corrupti quam expedita 
                    recusandae amet iusto ducimus ea minima odio, aperiam quas!
                    Amet nihil, tempora ipsum.
                </p>
                <h5>review by Username</h5>
                </a>
            </div>

            <div class="articlePreview">
                <a href="#">
                <img src="../images/Books-icon.png" alt="Harry Potter and the deadly hallows" >
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Ipsa fugit natus minus veritatis doloribus beatae aliquid 
                     quos officiis repudiandae 
                </p>
                <h5>review by Username</h5>
                </a>
            </div>

            <div class="articlePreview">
                <a href="#">
                <img src="../images/Books-icon.png" alt="Harry Potter and the deadly hallows" >
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Porro officiis alias, vero vel explicabo possimus voluptatibus 
                    reprehenderit suscipit earum exercitationem nemo mollitia. Optio 
                    cupiditate cumque quia amet nihil, tempora ipsum.
                </p>
                <h5>review by Username</h5>
                </a>
            </div>

            <div class="articlePreview">
                <a href="#">
                <img src="../images/Books-icon.png" alt="Harry Potter and the deadly hallows">
                <h4>Harry Potter and the deadly hallows</h4>
                <h5>by J.K. Rowling</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Unde sapiente natus suscipit veritatis quidem beatae facilis 
                    velit esse! Laudantium mollitia perferendis voluptatem nostrum 
                    odio nemo exercitationem unde recusandae, adipisci necessitatibus!
                </p>
                <h5>review by Username</h5>
                </a>
            </div>
        </div>

    </main>
</body>
</html>