<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../public/styles/LogIn.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/navbar700.css">
    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login</title>
</head>

<body>
    <div class="navbar">
        <a class="#" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="#" href="reviews"><i class="fa fa-newspaper-o"></i> Reviews</a>
        <a class="#" href="freshOffTheShelves.html"><i class="fa fa-fw fa-book"></i> Fresh off the shelves</a>
        <a class="#" href="LogIn.html"><i class="fa fa-fw fa-user"></i> Login</a>
        <a class="active" href="signUp"><i class="fa fa-user-plus" ></i> Sign Up</a>
    </div>

    <div class="Login-box">
        <h1>Login</h1>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Username" name="" value="">
        </div>

        <div class="textbox">
            <i class= "fa fa-lock" aria-hidden="true"></i>
            <input type="text" placeholder="Password" name="" value="">
        </div>

        <input class= "btn" type="button" name="" value="Sing in">
    </div>
</body>